

.intro img{
width: 100%;
}

.intro{

    padding: 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
body{
    margin: 0;
}


.intro p{
    padding-left: 10%;
    padding-right: 10%;
}
.articles-grid{
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
}

.yt-container{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

.yt-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0%;
}
.articles-grid img{
 max-width: 100%;
}
.articles-grid a{
    color: unset;
    text-decoration: none;
}

@media (min-width: 600px)
{
    .articles-grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }

}

@media (min-width: 900px)
{
    .articles-grid{
        grid-template-columns: repeat(3, minmax(0, 1fr));

    }
}

/* .banner-img {
  width: 100%;
  padding-top: 64px;
} */

.intro-container{
  padding: 128px 24px 64px;
  margin: 0 auto;
  max-width: 1200px;
}

.intro-blurb{
  display: flex;
  flex-flow: column nowrap;
}

.intro-blurb p{
    font-size: 20px;
    margin: 12px 0;
    line-height: 1.5;
    font-family: "Mercury Text G1";
}

.intro-blurb p:first-of-type{
    margin-top: auto;
}

.intro-title{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 0.9;
    margin-bottom: 32px;
}

.intro-year{
    line-height: 0.9;
    font-size: 120px;
    opacity: 0.2;
}

.intro-logo img{
    width: 72px;
    margin-bottom: 24px;
}


.home-container{
    padding: 128px 24px 0px;
    box-sizing: border-box;
    max-width: 1500px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: minmax(0, 1fr);
}

.home-hero{
    grid-column-gap: 48px;
}

/* .home-hero img{
    width: 100%;
} */

.home-sections, .home-mid{
    padding: 16px 24px;
    grid-column-gap: 8px;
}

.home-mid h3{
    font-family: "Mercury Text G1";
    font-size: 24px;
    margin-bottom: 0;
}

@media (min-width: 600px){
    .home-sections{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
}

@media (min-width: 900px){
    .home-sections{
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}

@media (min-width: 1200px){
    .home-sections{
        grid-template-columns: repeat(4, minmax(0,1fr));
    }
}

@media (min-width: 1500px){
    .home-sections{
        grid-template-columns: repeat(5, minmax(0,1fr));
    }
}

.home-sections a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
}

.home-section{
    background-color: #222;
    padding: 16px 0;
    margin-bottom: 8px;
}

.hero-logo{
    width: 72px;
    margin-bottom: 48px;
}

.hero-blurb{
    display: flex;
    flex-flow: column nowrap;
}

/* .hero-image-inner{
    position: relative;
}

.hero-image-credit{
    position: absolute;
    font-family: "Montserrat";
    font-weight: 400;
    color: #fff;
    bottom: 24px;
    right: 24px;
}

.hero-image-credit a{
    color: unset;
} */

.hero-blurb p{
    max-width: 600px;
    font-size: 20px;
    margin: 12px 0;
    line-height: 1.5;
    font-family: "Mercury Text G1";
}

.hero-blurb p:first-of-type{
    margin-top: auto;
}

.hero-sota{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 0.9;
    margin-bottom: 32px;
}

.hero-sota-year{
    line-height: 0.9;
    font-size: 120px;
    opacity: 0.2;
}

/* @media (max-width: 900px){
    .hero-image{
        grid-row: 1;
        margin-top: -72px;
        width: calc(100% + 48px);
        margin-left: -24px;
        margin-bottom: 32px;
    }
} */

@media (min-width: 900px){
    .hero-sota{
        font-size: 64px;
    }

    .hero-sota-year{
        font-size: 144px;
    }

    .home-hero{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
