

.intro img{
width: 100%;
}

.intro{

    padding: 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
body{
    margin: 0;
}


.intro p{
    padding-left: 10%;
    padding-right: 10%;
}
.articles-grid{
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
}

.yt-container{
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

.yt-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0%;
}
.articles-grid img{
 max-width: 100%;
}
.articles-grid a{ 
    color: unset;
    text-decoration: none;
}

@media (min-width: 600px)
{
    .articles-grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }

}

@media (min-width: 900px)
{
    .articles-grid{
        grid-template-columns: repeat(3, minmax(0, 1fr));

    }
}


